In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('online_shoppers_intention.csv')

In [4]:
df.head(5)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [5]:
df.shape

(12330, 18)

In [6]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [7]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [11]:
cat_col = []
num_col = []

for i in df.columns[:-1]:
    if df[i].dtype == 'O' or df[i].dtype == 'bool':
        cat_col.append(i)
    else:
        num_col.append(i)

In [12]:
cat_col

['Month', 'VisitorType', 'Weekend']

In [13]:
df = pd.get_dummies(df,columns=cat_col)

In [14]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor,Weekend_False,Weekend_True
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,0,0,0,0,0,0,1,1,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,0,0,0,0,0,0,0,1,1,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,0,0,0,0,0,0,1,1,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,0,0,0,0,0,0,0,1,1,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,0,0,0,0,0,0,0,1,0,1

In [15]:
df.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'Revenue',
       'Month_Aug', 'Month_Dec', 'Month_Feb', 'Month_Jul', 'Month_June',
       'Month_Mar', 'Month_May', 'Month_Nov', 'Month_Oct', 'Month_Sep',
       'VisitorType_New_Visitor', 'VisitorType_Other',
       'VisitorType_Returning_Visitor', 'Weekend_False', 'Weekend_True'],
      dtype='object')

In [16]:
X = df.drop('Revenue',axis=1)
y = df['Revenue']

In [17]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 34)

In [18]:
print('Shape of X train: ',X_train.shape)
print('Shape of x test: ',x_test.shape)

Shape of X train:  (9864, 29)
Shape of x test:  (2466, 29)

In [19]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
scaler = StandardScaler()
label = LabelEncoder()

In [20]:
X_train = scaler.fit_transform(X_train)
x_test = scaler.transform(x_test)

y_train = label.fit_transform(y_train)
y_test = label.transform(y_test)

In [21]:
from sklearn.ensemble import GradientBoostingClassifier , AdaBoostClassifier, RandomForestClassifier,BaggingClassifier
gbc = GradientBoostingClassifier()
abc = AdaBoostClassifier()
rfc = RandomForestClassifier()
bagging = BaggingClassifier()

In [22]:
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score

In [23]:
def model_report(model,training_x,training_y,testing_x,testing_y,name) :
    model.fit(training_x,training_y)
    predictions  = model.predict(testing_x)
    accuracy     = accuracy_score(testing_y,predictions)
    recallscore  = recall_score(testing_y,predictions)
    precision    = precision_score(testing_y,predictions)
    f1score      = f1_score(testing_y,predictions) 
    
    
    df = pd.DataFrame({"Model"           : [name],
                       "Accuracy_score"  : [accuracy],
                       "Recall_score"    : [recallscore],
                       "Precision"       : [precision],
                       "f1_score"        : [f1score],
                      })
    return df

In [25]:
model1 = model_report(gbc,X_train,y_train,x_test,y_test,'GradientBoostingClassifier')

In [26]:
model2 = model_report(abc,X_train,y_train,x_test,y_test,'AdaBoostClassifier')

In [27]:
model3 = model_report(rfc,X_train,y_train,x_test,y_test,'RandomForestClassifier')

In [28]:
model4 = model_report(bagging,X_train,y_train,x_test,y_test,'BaggingClassifier')

In [34]:
models_poff = pd.concat([model1,model2,model3,model4],axis = 0).reset_index().drop('index',axis = 1)

In [35]:
models_poff

,Model,Accuracy_score,Recall_score,Precision,f1_score
0,GradientBoostingClassifier,0.896188,0.542005,0.696864,0.609756
1,AdaBoostClassifier,0.891727,0.512195,0.684783,0.586047
2,RandomForestClassifier,0.898216,0.501355,0.734127,0.595813
3,BaggingClassifier,0.886861,0.493225,0.664234,0.566096